<!-- response_create.html -->
{% extends "base.html" %}

{% block title %}Ajouter une Réponse{% endblock %}

{% block header %}
    <h1>Ajouter une Réponse pour "{{ reclamation.sujet }}"</h1>
{% endblock %}

{% block content %}
<section class="content">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ajouter une Réponse</button>
        <a href="{% url 'response_list' reclamation.id %}" class="btn btn-secondary">Annuler</a>
    </form>
</section>
{% endblock %}
