<!-- partials/header.html -->
<!-- ======= Header ======= -->
{% load static %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>BizLand Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'temp/img/favicon.png'%}" rel="icon">
    <link href="{% static 'temp/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'temp/vendor/aos/aos.css' %} rel="stylesheet">
    <link href="{% static 'temp/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'temp/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'temp/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'temp/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'temp/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'temp/css/style.css'%}" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: BizLand
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="{% url 'index' %}">BizLand<span>.</span></a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li class="dropdown"><a href="#"><span>Produit</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'afficher_categorie' %}">Catégorie</a></li>
                        <li><a href="{% url 'afficher_produit' %}">Produit</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Evenements</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'afficher_evenement' %}">Evenements</a></li>
                        <li><a href="{% url 'afficher_sponsor' %}">Sponsors</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'afficher_website_feedback' %}">Feedbacks</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Post</a></li>
                <li><a class="nav-link scrollto" href="#team">Reclamation</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header><!-- End Header -->


